
<div class="form-horizontal">
  <%= form_for @poem, :html => {:class => "form-horizontal-center"} do |f| %>
  <div class="form-group">
    <div class="col-md-8">
      <h3>New Sonnet</h3>
      <%= f.label :name %><br>
    </div>
    <div class="col-md-8">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-8">
      <%= f.submit class: "btn btn-primary btn sm" %>
    </div>
  </div>
  <% end %>
</div>
